<h2 mat-dialog-title>{{'resume.title' | translate}} <small align="right" *ngIf="data.minutes || data.seconds">{{data.minutes}}min {{data.seconds}}{{'resume.seconds' | translate}}</small></h2>

<mat-dialog-content *ngIf="!data.poline && !data.users">
  <p><strong>{{'resume.itemsUpdated' | translate}}:</strong> {{data.updatedCount}}</p>
  <p><strong>{{'resume.errors' | translate}}:</strong> {{data.errorsCount}}</p>
  <p><strong>{{'resume.totalLinesProcessed' | translate}}:</strong> {{data.totalRows}}</p>
  <p *ngIf="data.setId"><strong>{{'resume.setId' | translate}}:</strong> {{data.setId}}</p>
  <p *ngIf="data.setIdError"><strong>{{'resume.setIdError' | translate}}:</strong> {{data.setIdError}}</p>
  <br>
  <!-- Error log dropdown -->
  <mat-accordion *ngIf="data.errorLog?.length" class="error-accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'resume.errorsDetail' | translate}} ({{data.errorLog.length}})
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p class="error-info">
        {{'resume.errorDisplayLimit' | translate}}
      </p>
      <ul class="error-list">
        <li *ngFor="let e of data.errorLog" class="error-entry">
          <span *ngFor="let key of (e.identifiers | keyvalue)">
            <strong>{{ key.key }}: </strong>
            {{ key.value }}
          </span>
          <br />
          <em class="error-message">{{ e.error }}</em>
        </li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.poline">
  <p><strong>{{'resume.totalLinesProcessed' | translate}}:</strong> {{data.totalRows}}</p>
  <p><strong>{{'resume.poLineCloned' | translate}}:</strong> {{data.updatedCount}}</p>
  <p><strong>{{'resume.poLineClonedErrors' | translate}}:</strong> {{data.errorsCount}}</p>
</mat-dialog-content>

<mat-dialog-content *ngIf="data.users">
  <p><strong>{{'resume.totalLinesProcessed' | translate}}:</strong> {{data.totalRows}}</p>
  <p><strong>{{'resume.removedUsers' | translate}}:</strong> {{data.removedCount}}</p>
  <p><strong>{{'resume.removedUsersErrors' | translate}}:</strong> {{data.errorsCount}}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="close()">Close</button>
</mat-dialog-actions>
