<div class="move-field-items"> 
    <!-- Actions and Title -->
    <app-loader [loading]="loading" [processedCount]="processedCount" [totalCount]="totalRows"></app-loader>
    <div class="eca-header">
      <h1>{{ 'moveFieldItems.title' | translate }}</h1>
      <button *ngIf="!fileValidated" mat-flat-button color="secondary" (click)="back()">
        <mat-icon>arrow_back</mat-icon> {{ 'config.backButton' | translate }}
      </button>

      <button *ngIf="fileValidated" mat-flat-button color="secondary" (click)="reload()">
        <mat-icon>arrow_back</mat-icon> {{ 'config.backButton' | translate }}
      </button>
    </div>

    <div *ngIf="checkingUser">
      <p translate>main.checkingPermissions</p>
    </div>
    
    <!-- When permission is denied -->
    <div *ngIf="!isModuleUserAllowed && !checkingUser">
      <section>
        <h1 translate>main.userIsNotAllowed</h1>
        <p translate>main.userIsNotAllowedInfoModule</p>
      </section>
    </div>
    <div *ngIf="isModuleUserAllowed && !checkingUser">

      <div *ngIf="!fileValidated" class="file-validation-container">

        <!-- Information Section -->
        <div class="validation-info">
          <p>
            <mat-icon>info</mat-icon>
            {{ 'moveFieldItems.validationInfoHeader' | translate }}
          </p>
          <ul>
            <li>{{ 'moveFieldItems.validationInfoPoint1' | translate }}</li>
            <details class="example-details">
              <summary class="example-summary">{{ 'moveFieldItems.validationInfoPoint2' | translate }}</summary>
              <ul class="example-details">
                <li><code class="small-code">{{ 'moveFieldItems.validationInfoPoint2.1' | translate }}</code></li>
                <hr class="line-menu">
                <li><code class="small-code">{{ 'moveFieldItems.validationInfoPoint2.2' | translate }}</code></li>
              </ul>
            </details>
            <li>{{ 'moveFieldItems.validationInfoPoint3' | translate }}</li>
            <li>{{ 'moveFieldItems.validationInfoPoint4' | translate }}</li>
          </ul>
        </div>
        
        <div class="form-group file-upload-container">
          <div class="file-upload-wrapper">
            <!-- Hidden file input -->
            <input
              type="file"
              id="file-upload"
              (change)="onFileSelected($event)"
              hidden
              #fileInput
            />
          </div>
    
          <!-- File name display -->
          <span *ngIf="selectedFile" class="file-name">
            <br />{{ selectedFile.name }}
          </span>

          <!-- File selection button -->
          <button mat-raised-button color="secondary" (click)="fileInput.click()">
            <mat-icon>upload</mat-icon> {{ 'config.selectFileButton' | translate }}
          </button>

        </div>
    
        <!-- Validate Button -->
        <div class="form-group file-upload-container">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="!selectedFile"
            (click)="validateFile()"
          >
          <mat-icon>approval</mat-icon>  {{ 'moveFieldItems.validateFileButton' | translate }}
          </button>
        </div>
    
        <div *ngIf="validationError" class="error-message">
          <p>
            <mat-icon color="warn">error_outline</mat-icon>
            {{ validationError }}
          </p>
        </div>
      </div>

      <!-- Form -->
      <form *ngIf="fileValidated">
        <div class="form-group">
          <label for="field-select-origin">{{ 'moveFieldItems.dropdownOrigin' | translate }}</label>
          <select id="field-select-origin" [(ngModel)]="selectedFieldOrigin" name="origin_field" required>
            <option *ngFor="let option of fieldOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="field-select-destination">{{ 'moveFieldItems.dropdownDestination' | translate }}</label>
          <select id="field-select-destination" [(ngModel)]="selectedFieldDestination" name="destination_field" required>
            <option *ngFor="let option of fieldOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>

        <div class="form-group" style="display: flex; justify-content: space-between;">
          <div style="width: 48%;">
            <label for="field-select-position">{{ 'moveFieldItems.dropdownPosition' | translate }}</label>
            <select id="field-select-position" [(ngModel)]="selectedFieldPosition" name="position_field" required (change)="onPositionChange()">
              <option *ngFor="let option of positionOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        
          <div style="width: 48%;">
            <label for="field-select-delimiter">{{ 'moveFieldItems.dropdownDelimiter' | translate }}</label>
            <select id="field-select-delimiter" [(ngModel)]="selectedFieldDelimiter" name="delimiter_field" required [disabled]="isDelimiterDisabled">
              <option *ngFor="let option of delimiterOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
    
        <!-- Checkboxes -->
        <div class="form-group horizontal-checkboxes">
          <mat-checkbox [(ngModel)]="emptyField" name="emptyField">
            {{ 'moveFieldItems.emptyField' | translate }}
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="createResultSets" name="createResultSets">
            {{ 'moveFieldItems.createResultSets' | translate }}
          </mat-checkbox>
        </div>
    
        <div class="form-group file-upload-container">
          <div class="file-upload-wrapper">
            <!-- Hidden file input -->
            <input
              type="file"
              id="file-upload"
              (change)="onFileSelected($event)"
              hidden
              #fileInput
            />
          </div>
        
          <!-- File name display -->
          <span *ngIf="selectedFile" class="file-name">
            <br />{{ selectedFile.name }}
          </span>
          <button mat-raised-button color="secondary" (click)="fileInput.click()">
            <mat-icon>upload</mat-icon> {{ 'config.selectAnotherFileButton' | translate }}
          </button>
        </div>
    
        <!-- Submit Button -->
        <div class="form-group file-upload-container">
          <button mat-raised-button color="primary" type="button" (click)="submitForm()" [disabled]="!selectedFile">{{ 'config.submitButton' | translate }}</button>
        </div>
      </form>
    </div>
  </div>

 

  