<div class="modify-po-lines-container">

    <!-- Actions and Title -->
    <app-loader [loading]="loading" [processedCount]="processedCount" [totalCount]="totalRows"></app-loader>
    <div class="eca-header">
      <h1>{{ 'modifyPOLines.title' | translate }}</h1>
      <button *ngIf="!fileValidated" mat-flat-button color="secondary" (click)="back()">
        <mat-icon>arrow_back</mat-icon> {{ 'config.backButton' | translate }}
      </button>

      <button *ngIf="fileValidated" mat-flat-button color="secondary" (click)="reload()">
        <mat-icon>arrow_back</mat-icon> {{ 'config.backButton' | translate }}
      </button>
    </div>

    <div *ngIf="checkingUser">
      <p translate>main.checkingPermissions</p>
    </div>
    
    <!-- When permission is denied -->
    <div *ngIf="!isModuleUserAllowed && !checkingUser">
      <section>
        <h1 translate>main.userIsNotAllowed</h1>
        <p translate>main.userIsNotAllowedInfoModule</p>
      </section>
    </div>
    
    <div *ngIf="isModuleUserAllowed && !checkingUser">

      <div *ngIf="!fileValidated" class="file-validation-container">

        <!-- Information Section -->
        <div class="validation-info">
          <p>
            <mat-icon>info</mat-icon>
            {{ 'modifyPOLines.validationInfoHeader' | translate }}
          </p>
          <ul>
            <li>{{ 'modifyPOLines.validationInfoPoint1' | translate }}</li>
            <details class="example-details">
              <summary class="example-summary">{{ 'modifyPOLines.validationInfoPoint2' | translate }}</summary>
              <ul class="example-details">
                <li><code class="small-code">{{ 'modifyPOLines.validationInfoPoint2.1' | translate }}</code></li>
              </ul>
            </details>
            <li>{{ 'modifyPOLines.validationInfoPoint3' | translate }}</li>
            <li>{{ 'modifyPOLines.validationInfoPoint4' | translate }}</li>
          </ul>
          <i><small>* {{ 'modifyPOLines.validationInfoPoint5' | translate }}</small></i>
        </div>
        
        <div class="form-group file-upload-container">
          <div class="file-upload-wrapper">
            <!-- Hidden file input -->
            <input
              type="file"
              id="file-upload"
              (change)="onFileSelected($event)"
              hidden
              #fileInput
            />
          </div>
    
          <!-- File name display -->
          <span *ngIf="selectedFile" class="file-name">
            <br />{{ selectedFile.name }}
          </span>

          <!-- File selection button -->
          <button mat-raised-button color="secondary" (click)="fileInput.click()">
            <mat-icon>upload</mat-icon> {{ 'config.selectFileButton' | translate }}
          </button>

        </div>
    
        <!-- Validate Button -->
        <div class="form-group file-upload-container">
          <button
            mat-raised-button
            color="primary"
            type="button"
            [disabled]="!selectedFile"
            (click)="validateFile()"
          >
          <mat-icon>approval</mat-icon>  {{ 'modifyPOLines.validateFileButton' | translate }}
          </button>
        </div>
    
        <!-- Error Message Section -->
        <div *ngIf="validationError" class="error-message">
          <p>
            <mat-icon color="warn">error_outline</mat-icon>
            {{ validationError }}
          </p>
        </div>
      </div>
    

      <!-- Form -->
      <form *ngIf="fileValidated">
        <!-- Dropdown for Camp a modificar -->
        <div class="form-group">
          <label for="field-select">{{ 'modifyPOLines.dropdownTitle' | translate }}</label>
          <select id="field-select" [(ngModel)]="selectedField" name="field" required>
            <option *ngFor="let option of fieldOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
    
        <!-- Checkboxes -->
        <div class="form-group horizontal-checkboxes">
          <mat-checkbox [(ngModel)]="exactContent" name="exactContent">
            {{ 'modifyPOLines.exactContent' | translate }}
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="createResultSets" name="createResultSets">
            {{ 'modifyPOLines.createResultSets' | translate }}
          </mat-checkbox>
        </div>
    
        <div class="form-group file-upload-container">
          <div class="file-upload-wrapper">
            <!-- Hidden file input -->
            <input
              type="file"
              id="file-upload"
              (change)="onFileSelected($event)"
              hidden
              #fileInput
            />
          </div>
        
          <!-- File name display -->
          <span *ngIf="selectedFile" class="file-name">
            <br />{{ selectedFile.name }}
          </span>
        </div>
    
        <!-- Submit Button -->
        <div class="form-group file-upload-container">
          <button mat-raised-button color="primary" type="button" (click)="submitForm()" [disabled]="!selectedFile">{{ 'config.submitButton' | translate }}</button>
        </div>
      </form>
    </div>
  </div>

 

  